@font-face {
    font-family: 'SamsungSans';
    src: url(Fonti/SamsungSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html,
body {
    background: url(Slike/bg.png) no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
}

footer+div {
    height: 100px;
    /* Prostor pod footerjem */
    background-color: #d3d3d3;
    /* Sivo ozadje */
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.telefon {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 100px;
}

#logoSVG {
    position: absolute;
    width: 80%;
    max-width: 120px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.svg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color-picker,
.color-picker-telefon2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: 'SamsungSans', sans-serif;
}

.color-picker-telefon2 {
    margin-bottom: 5px;
}

.color-picker label,
.color-picker-telefon2 label {
    margin-right: 10px;
}

input[type="color"] {
    width: 150px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: none;
}

.topnav {
    background-color: white;
    border-bottom: 1px solid gray;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.topnav .logo {
    float: left;
    padding: 10px 20px;
}

.topnav .logo img {
    height: 40px;
    width: auto;
}

.topnav a {
    float: left;
    display: block;
    padding: 23px 20px;
    text-decoration: none;
    color: black;
    border-right: 1px solid gray;
}

.topnav a:last-child {
    border-right: none;
}

.glavniTekst {
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    color: white;
    font-family: 'SamsungSans', sans-serif;
}

.glavniTekst li {
    list-style-type: none;
    padding: 2px;
    font-family: 'SamsungSans', sans-serif;
}

#kdoSmo {
    padding-top: 30px;
    text-align: center;
    color: white;
    font-family: 'SamsungSans', sans-serif;
}

a {
    font-family: 'SamsungSans', sans-serif;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    width: 100%;
    min-height: 50px;
    box-sizing: border-box;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

footer .canvasdiv {
    background: none;
    /* Ohrani obstoječe lastnosti canvas div-a */
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

footer img {
    max-width: 200px;
    margin-top: 20px;
    display: block;
}

.burger-menu {
    display: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px 20px;
}

@media (max-width: 768px) {
    .telefon {
        width: 90%;
        margin: 0 auto;
    }

    #logoSVG {
        width: 70%;
    }

    .menu-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        font-family: 'SamsungSans', sans-serif;
    }

    .menu-links.active {
        display: flex;
    }

    .burger-menu {
        display: block;
        float: right;
    }

    .topnav a {
        float: left;
        display: block;
        padding: 23px 20px;
        text-decoration: none;
        color: black;
        border: none;
    }

    footer .canvasdiv {
        margin-left: 50px;
    }
}

.st0 {
    fill: white;
}

.st1,
.st2,
.st3,
.st4 {
    fill: white;
    /* začetna barva za druge elemente */
}


@media (max-width: 568px) {
    #logoSVG {
        width: 30%;
    }
}